<!DOCTYPE html>
<html ng-app="interface"> 
<!-- Sur cette page on va utiliser angular -->
<head>
	<title>Exercice 2</title>
	<meta charset-"utf-8">
	<link href="https://s3.amazonaws.com/codecademy-content/projects/bootstrap.min.css" rel="stylesheet" />
	<script src ="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
	 <link type="text/css" rel="stylesheet" href="styles.css">
	<script src="app.js" type="text/javascript"></script>
</head>
<body ng-controller ="MainCtrl">
<!-- sur cette partie on va utiliser des controleurs angular
 -->
 <div class="container">
 	<div class="wrapper">
 	<h1>Services</h1>
 	<div class="row first">
 	<p>Choississez les elements a inclure</p>
 	<p>{{total(0)}} service(s) selectionne(s)</p>
 	</div>
 <!-- 	le premier mot fait reference aux noms d'objet dans app.js ici nine -->
 	<button ng-repeat="nine in services" ng-click="toggleActive(nine)" class="row btn {{nine.active ? 'btn-success' : 'btn-danger'}}">
 	<!-- est ce que c'est vrai ? si oui fait la premiere action sinon ne la fait pas. Danger et succes : vert et rouge bootstrap -->
 		<p>{{nine.name}}</p>
 		<p>{{nine.price | currency}}</p>
 	</button>
 	 	<hr>
 	 	<div class="row last">
 	 		<p>prix :{{bigTotal | currency}}</p>
 
 	 	</div>
 	</div>
 </div>
</body>
</html>