<!DOCTYPE html>
<html lang="fr" ng-app="example">
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <script src="./bower_components/angular/angular.js"></script>
  <!-- <script data-require="angular-resource@*" data-semver="1.2.14" src="http://code.angularjs.org/1.2.14/angular-resource.js"></script> -->
  <script src="./js/app.js"></script>
  <meta charset="UTF-8">
  <title>Document</title>
</head>

<body ng-controller="MainCtrl">
  <h1 ng-model="name">Hello {{ name }} !</h1>
  <input type="text" ng-model="name" />
  <div class="alert-info">
    <div class="glyphicon glyphicon-info-sign"></div>
    Longueur du texte : {{ nameLength }} caractères
  </div>
  <!-- <div class="alert-success">
    <div class="glyphicon glyphicon-cloud"></div>
    La météo aujourd'hui: {{ weather }}
  </div> -->
  <address street ="'50 cours de la République'" city="'Villeurbanne'"></address>
  <input type="text" ng-model="customer1.name" />
  <customer customer='customer1'></customer>


</body>
</html>
