.container {
  background-color: #61A1BC;
  width: 300px;
  font-family: sans-serif;
}

.container h1 {
  text-align: center;
  color: white;
}

.row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  padding: 10px 0;
  border-radius: 3px;
}

.btn {
  width: 100%;
  margin: 10pt 0;
}

.row p {
  color: white;
  font-size: 14px;
}
.first {
  background-color: #D9EDF7;
  margin-bottom: 30px;
}

.first p {
  color: #61A1BC;
}

.last {
  background-color: #61A1BC;
}
